[submodule "HW02"]
	path = HW02
	url = git@github.com:mines-csci400/f22-user-cksmith-hw02.git
[submodule "Lab01"]
	path = Lab01
	url = git@github.com:mines-csci400/f22-user-cksmith-lab01.git
[submodule "HW03"]
	path = HW03
	url = git@github.com:mines-csci400/f22-user-cksmith-hw03.git
[submodule "Labs"]
	path = GroupLabs
	url = git@github.com:mines-csci400/f22-team-AllyKat.git
[submodule "HW04"]
	path = HW04
	url = git@github.com:mines-csci400/f22-assignment-hw04.git
